.article-wrapper {
	padding-top: 40px;
}

.main-contents {
	margin-bottom: 96px;
}

.article-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 160%;
	margin-bottom: 16px;
}

.post-time {
	font-weight: 400;
	font-size: 12px;
	line-height: 160%;
	color: #666666;
	margin-bottom: 24px;
}

.sns-items {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	line-height: 160%;
}

.sns-item {
	padding-top: 5px;
}

.sns-items p {
	font-weight: 700;
	font-size: 14px;
	color: #666666;
	margin-right: 3px;
}

.intro {
	margin: 56px 0;
}

.intro p {
	font-weight: 400;
	font-size: 14px;
	line-height: 160%;
}

.table-of-contents {
	padding: 24px;
	line-height: 160%;
	background: #F8F8F8;
	margin-bottom: 56px;
}

.table-of-contents h3 {
	text-align: center;
	font-weight: 700;
	font-size: 20px;
}

.table-of-contents h4 {
	margin-top: 24px;
	font-weight: 500;
	font-size: 14px;
}

.sub-headline {
	margin-top: 8px;
	font-weight: 400;
	font-size: 13px;
}

.blog-block {
	margin-bottom: 80px;
	line-height: 160%;
}

.blog-block h3 {
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 24px;
}

.blog-block-child {
	margin-bottom: 32px;
}

.blog-block h4 {
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 8px;
}

.blog-block span {
	color: #3D97EB;
}

.blog-block p {
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 25px;
}

.blog-block-child h5 {
	margin: 0;
	font-weight: 700;
	font-size: 14px;
}


/* PCサイズ以上 */
@media screen and (min-width: 1025px) {
	.article-wrapper {
		max-width: 800px;
		margin: 0 auto;
		padding: 80px 0 0 0;
	}

	.article-title {
		font-size: 32px;
	}

	.sub-info-pc {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin-bottom: 10px;
	}

	.sns-items {
		margin-bottom: 0;
	}

	.intro {
		margin: -24px 0 56px 0;
	}

	.main-contents {
		margin-bottom: 160px;
	}

	.table-of-contents {
		padding: 40px;
		max-width: 800px;
	}

	.table-of-contents h3 {
		font-size: 24px;
		margin-bottom: 32px;
	}

	.table-of-contents-flex {
		display: flex;
	}

	.table-of-contents-flex .left {
		padding-right: 10%;
	}

	.table-of-contents-flex .right {
		border-left: 1px solid #DCDCDC;
		padding-left: 40px;
	}

	.table-of-contents h4 {
		margin-top: 32px;
		font-size: 16px;
	}

	.blog-block h3 {
		font-size: 24px;
	}

	.blog-block h4 {
		font-size: 20px;
		margin-bottom: 16px;
	}

	.blog-block p {
		margin-bottom: 30px;
	}
}
