/* HubSpotが定義したCSSのコピペ(参照用の為、インデントは無視する) */

/* _reset.css */
*, *:before, *:after {
    box-sizing: border-box;
}

/* normalize.css */
 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }
  

  /* layout.css */
  /* Responsive Grid */

.row-fluid {
    width: 100%;
    *zoom: 1;
}

.row-fluid:before, .row-fluid:after {
    display: table;
    content: "";
}

.row-fluid:after {
    clear: both;
}

.row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 1px;
    margin-left: 2.127659574%;
    *margin-left: 2.0744680846382977%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}

.row-fluid .span12 {
    width: 99.99999998999999%;
    *width: 99.94680850063828%;
}

.row-fluid .span11 {
    width: 91.489361693%;
    *width: 91.4361702036383%;
}

.row-fluid .span10 {
    width: 82.97872339599999%;
    *width: 82.92553190663828%;
}

.row-fluid .span9 {
    width: 74.468085099%;
    *width: 74.4148936096383%;
}

.row-fluid .span8 {
    width: 65.95744680199999%;
    *width: 65.90425531263828%;
}

.row-fluid .span7 {
    width: 57.446808505%;
    *width: 57.3936170156383%;
}

.row-fluid .span6 {
    width: 48.93617020799999%;
    *width: 48.88297871863829%;
}

.row-fluid .span5 {
    width: 40.425531911%;
    *width: 40.3723404216383%;
}

.row-fluid .span4 {
    width: 31.914893614%;
    *width: 31.8617021246383%;
}

.row-fluid .span3 {
    width: 23.404255317%;
    *width: 23.3510638276383%;
}

.row-fluid .span2 {
    width: 14.89361702%;
    *width: 14.8404255306383%;
}

.row-fluid .span1 {
    width: 6.382978723%;
    *width: 6.329787233638298%;
}

.container-fluid {
    *zoom: 1;
}

.container-fluid:before, .container-fluid:after {
    display: table;
    content: "";
}

.container-fluid:after {
    clear: both;
}

@media (max-width: 767px) {
    .row-fluid {
        width: 100%;
    }

    .row-fluid [class*="span"] {
        display: block;
        float: none;
        width: auto;
        margin-left: 0;
    }
}

@media (min-width: 768px) and (max-width: 1139px) {
    .row-fluid {
        width: 100%;
        *zoom: 1;
    }

    .row-fluid:before, .row-fluid:after {
        display: table;
        content: "";
    }

    .row-fluid:after {
        clear: both;
    }

    .row-fluid [class*="span"] {
        display: block;
        float: left;
        width: 100%;
        min-height: 1px;
        margin-left: 2.762430939%;
        *margin-left: 2.709239449638298%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }

    .row-fluid [class*="span"]:first-child {
        margin-left: 0;
    }

    .row-fluid .span12 {
        width: 99.999999993%;
        *width: 99.9468085036383%;
    }

    .row-fluid .span11 {
        width: 91.436464082%;
        *width: 91.38327259263829%;
    }

    .row-fluid .span10 {
        width: 82.87292817100001%;
        *width: 82.8197366816383%;
    }

    .row-fluid .span9 {
        width: 74.30939226%;
        *width: 74.25620077063829%;
    }

    .row-fluid .span8 {
        width: 65.74585634900001%;
        *width: 65.6926648596383%;
    }

    .row-fluid .span7 {
        width: 57.182320438000005%;
        *width: 57.129128948638304%;
    }

    .row-fluid .span6 {
        width: 48.618784527%;
        *width: 48.5655930376383%;
    }

    .row-fluid .span5 {
        width: 40.055248616%;
        *width: 40.0020571266383%;
    }

    .row-fluid .span4 {
        width: 31.491712705%;
        *width: 31.4385212156383%;
    }

    .row-fluid .span3 {
        width: 22.928176794%;
        *width: 22.874985304638297%;
    }

    .row-fluid .span2 {
        width: 14.364640883%;
        *width: 14.311449393638298%;
    }

    .row-fluid .span1 {
        width: 5.801104972%;
        *width: 5.747913482638298%;
    }
}

@media (min-width: 1280px) {
    .row-fluid {
        width: 100%;
        *zoom: 1;
    }

    .row-fluid:before, .row-fluid:after {
        display: table;
        content: "";
    }

    .row-fluid:after {
        clear: both;
    }

    .row-fluid [class*="span"] {
        display: block;
        float: left;
        width: 100%;
        min-height: 1px;
        margin-left: 2.564102564%;
        *margin-left: 2.510911074638298%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }

    .row-fluid [class*="span"]:first-child {
        margin-left: 0;
    }

    .row-fluid .span12 {
        width: 100%;
        *width: 99.94680851063829%;
    }

    .row-fluid .span11 {
        width: 91.45299145300001%;
        *width: 91.3997999636383%;
    }

    .row-fluid .span10 {
        width: 82.905982906%;
        *width: 82.8527914166383%;
    }

    .row-fluid .span9 {
        width: 74.358974359%;
        *width: 74.30578286963829%;
    }

    .row-fluid .span8 {
        width: 65.81196581200001%;
        *width: 65.7587743226383%;
    }

    .row-fluid .span7 {
        width: 57.264957265%;
        *width: 57.2117657756383%;
    }

    .row-fluid .span6 {
        width: 48.717948718%;
        *width: 48.6647572286383%;
    }

    .row-fluid .span5 {
        width: 40.170940171000005%;
        *width: 40.117748681638304%;
    }

    .row-fluid .span4 {
        width: 31.623931624%;
        *width: 31.5707401346383%;
    }

    .row-fluid .span3 {
        width: 23.076923077%;
        *width: 23.0237315876383%;
    }

    .row-fluid .span2 {
        width: 14.529914530000001%;
        *width: 14.4767230406383%;
    }

    .row-fluid .span1 {
        width: 5.982905983%;
        *width: 5.929714493638298%;
    }
}

/* Clearfix */

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

/* Visibilty Classes */

.hide {
    display: none;
}

.show {
    display: block;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
    visibility: hidden;
}

/* Responsive Visibilty Classes */

.visible-phone {
    display: none !important;
}

.visible-tablet {
    display: none !important;
}

.hidden-desktop {
    display: none !important;
}

@media (max-width: 767px) {
    .visible-phone {
        display: inherit !important;
    }

    .hidden-phone {
        display: none !important;
    }

    .hidden-desktop {
        display: inherit !important;
    }

    .visible-desktop {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 1139px) {
    .visible-tablet {
        display: inherit !important;
    }

    .hidden-tablet {
        display: none !important;
    }

    .hidden-desktop {
        display: inherit !important;
    }

    .visible-desktop {
        display: none !important ;
    }
}

/* containers-dnd.css */
.content-wrapper {
    margin: 0 auto;
    padding: 0 20px;
  }
  
  @media screen and (min-width: 1380px) {
    .content-wrapper {
      padding: 0;
    }
  }
  
  .dnd-section > .row-fluid {
    margin: 0 auto;
  }
  
  .dnd-section .dnd-column {
    padding: 0 20px;
  }
  
  @media (max-width: 767px) {
    .dnd-section .dnd-column {
      padding: 0;
    }
  }


  
/* typography.css */
@font-face {
    font-family: "Noto Sans JP";
    src: url({{ get_asset_url('../../fonts/NotoSansJP/NotoSansJP-Regular.otf') }}) format("opentype");
  }
  
  @font-face { 
    font-family: "Noto Sans JP";
    src: url({{ get_asset_url('../../fonts/NotoSansJP/NotoSansJP-Bold.otf') }}) format("opentype");
    font-weight: bold; 
  }
  
  @font-face {
    font-family: "Roboto"; 
    src: url({{ get_asset_url('../../fonts/Roboto/Roboto-Medium.ttf') }}) format("truetype");
  }
  
  
  html {
    font-size: 100%;
  }
  html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    -moz-tab-size: 4;
    tab-size: 4;
  }
  
  body {
    line-height: 1.5;
  }
  
  html[lang^="ja"] body,
  html[lang^="zh"] body,
  html[lang^="ko"] body {
    line-break: strict;
    word-break: break-all;
  }
  
  /* Paragraphs */
  
  p {
    margin: 0 0 1.4rem;
  }
  
  /* Anchors */
  
  a {
    cursor: pointer;
    text-decoration: none;
  }
  
  img{
    max-width: 100%;
    height:auto;
  }
  
  /* Headings */
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 1.4rem;
  }
  
  /* Lists */
  
  ul,
  ol {
    margin: 0 0 1.4rem;
  }
  
  ul ul,
  ol ul,
  ul ol,
  ol ol {
    margin: 0;
  }
  
  ul.no-list {
    list-style: none;
  }
  
  /* Code blocks */
  
  code {
    vertical-align: bottom;
  }
  
  :focus{
    outline: none;
  }
  
  /* Blockquotes */
  
  blockquote {
    border-left: 2px solid;
    margin: 0 0 1.4rem;
    padding-left: 15px;
  }
  
  /* Horizontal rules */
  
  hr {
    background-color: #CCC;
    border: none;
    color: #CCC;
    height: 1px;
  }

/* _buttons.css */
button,
.button {
  cursor: pointer;
  display: inline-block;
  font-size: 0.92rem;
  text-align: center;
  transition: all 0.15s linear;
  white-space: normal;
}

button:disabled,
.button:disabled {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  color: #E6E6E6;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  text-decoration: none;
}

button:active,
.button:active {
  text-decoration: none;
}

/* _forms.css */
/* Form fields */


.hs-form-field {
    margin-bottom: 1.4rem;
  }
  
  .actions {
    margin-top: 18px;
    padding: 17px 0px;
  }
  
  h3.form-title {
    font-size: 30px;
    line-height: 1.4;
    letter-spacing: 0px;
    font-weight: 300;
    margin-bottom: .5rem;
    margin-top: 0;
  }
  
  /* Labels */
  
  form label {
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
    display: block;
    float: none;
    width: auto;
    font-weight: 500;
    text-align: left;
    line-height: 20px;
    padding-top: 0;
    margin-bottom: 4px;
  }
  
  /* Help text - legends */
  
  form legend {
    font-size: 0.875rem;
  }
  
  /* Inputs */
  
  form input[type=text],
  form input[type=email],
  form input[type=password],
  form input[type=tel],
  form input[type=number],
  form input[type=file],
  form select,
  form textarea {
    padding: 0 15px;
    min-height: 27px;
    width: 100%;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    color: #33475b !important;
    border: 1px solid;
    height: 40px;
  }
  
  form fieldset {
    max-width: 100% !important;
  }
  
  /* Inputs - checkbox/radio */
  
  form .inputs-list {
    margin: 0 0 5px;
    width: 100%;
    padding-left: 5px;
  }
  
  form .inputs-list > li {
    display: block;
    padding: 0;
    width: 100%;
    padding-top: 0;
  }
  
  form .inputs-list input,
  form .inputs-list span {
    vertical-align: middle;
  }
  
  form input[type=checkbox],
  form input[type=radio] {
    cursor: pointer;
    margin-right: 0.35rem;
  }
  
  /* Inputs - datepicker */
  
  .hs-dateinput {
    position: relative;
  }
  
  .hs-dateinput:before {
    content:'\01F4C5';
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .fn-date-picker .pika-table thead th {
    color: #FFF;
  }
  
  .fn-date-picker td.is-selected .pika-button {
    border-radius: 0;
    box-shadow: none;
  }
  
  .fn-date-picker td .pika-button:hover,
  .fn-date-picker td .pika-button:focus {
    border-radius: 0 !important;
    color: #FFF;
  }
  
  /* Inputs - file picker */
  
  form input[type=file] {
    background-color: transparent;
    border: initial;
    padding: initial;
  }
  
  /* Headings and text */
  
  form .hs-richtext,
  form .hs-richtext p {
    font-size: 0.875rem;
    margin: 0 0 1.4rem;
  }
  
  form .hs-richtext img {
    max-width: 100% !important;
  }
  
  /* GDPR */
  
  .legal-consent-container .hs-form-booleancheckbox-display > span,
  .legal-consent-container .hs-form-booleancheckbox-display > span p {
    margin-left: 1rem !important;
  }
  
  /* Validation */
  
  .hs-form-required {
    color: #EF6B51;
  }
  
  .hs-input.invalid.error{
    border-color : #EF6B51 !important;
  }
  
  form .inputs-list>li label,
  .hs-error-msgs label{
    color : {{ form_error_label_color }};
    font-weight: normal;
  }
  
  .hs-error-msg {
    color: #EF6B51;
  }
  
  form ul.hs-error-msgs>li>label.hs-main-font-element {
    line-height: 18px;
    color: #ef6b51;
  }
  
  
  /* Submit button */
  
  form input[type=submit],
  form .hs-button {
    font-size: 12px;
    line-height: 12px;
    font-family: arial, helvetica, sans-serif;
    white-space: normal;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    position: relative;
    text-align: center;
    transition: all .15s linear;
    border-style: solid;
    border-width: 1px;
  }
  
  textarea{
    min-height: 66px !important;
    height: auto;
    resize: vertical;
  }
  
  /* Captcha */
  
  .grecaptcha-badge {
    margin: 0 auto;
  }
  
  
  form input::-webkit-input-placeholder {
    color: {{ form_placeholder_color }};  
    opacity: 1;
  }
  /* Webkit Browsers */
  form input:-moz-placeholder {
    color: {{ form_placeholder_color }};
  } 
  /* Firefox 18- */
  form input::-moz-placeholder {
    color: {{ form_placeholder_color }};
  }
  /* Firefox 19+ */
  form input:-ms-input-placeholder {
    color: {{ form_placeholder_color }};
    opacity: 1;
  }
  /* IE10 */
  form .hs-input::-webkit-input-placeholder {
    color: {{ form_placeholder_color }};  
    opacity: 1;
  }
  /* Webkit Browsers */
  form .hs-input:-moz-placeholder {
    color: {{ form_placeholder_color }};
  }
  /* Firefox 18- */
  form .hs-input::-moz-placeholder {
    color: {{ form_placeholder_color }};
  }
  /* Firefox 19+ */
  form .hs-input:-ms-input-placeholder {
    color: {{ form_placeholder_color }};
    opacity: 1;
  } /* IE10 */
  
  
  .hs-button, .hs-form-field input[type=text], .hs-form-field input[type=email], .hs-form-field input[type=phone],
  .hs-form-field input[type=number], .hs-form-field input[type=tel], .hs-form-field input[type=date], .hs-form-field textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  @media (max-width: 767px){
    h3.form-title {
      font-size: 18px;
    }
  }
  

/* _tables.css */
/* Table */

table {
    border: 1px solid;
    margin-bottom: 1.4rem;
    overflow-wrap: break-word;
  }
  
  /* Table Cells */
  
  th,
  td {
    border: 1px solid;
    padding: 0.75rem;
    vertical-align: top;
  }
  
  /* Table Header */
  
  thead th,
  thead td {
    border-bottom: 2px solid;
    vertical-align: bottom;
  }
  
/* _header.css */

header.header {
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
  }
  
  .top-header {
    max-width: 1080px;
    padding: 10px 20px;
    margin: 0 auto;
    min-height: 60px;
  }
  .bottom-header {
    font-family: "Noto Sans JP",sans-serif;
    background: #F6FAFF;
  }
  
  .custom-menu-primary .hs-menu-wrapper>ul {
    max-width: 1140px;
    margin: 0 auto;
    display: table;
    list-style: none;
    width: 100%;
    text-align: center;
  }
  
  .custom-menu-primary .hs-menu-wrapper>ul>li {
    position: relative;
    font-size: 14px;
    display: table-cell;
    min-width: 100px;
    color: #555;
  }
  
  .header-logo {
    float: none;
  }
  .header-logo>div {
    padding: 0;
    line-height: normal;
    font-size: 21px;
  }
  
  .header-logo img {
    max-height: 50px;
    vertical-align: middle;
    overflow: hidden;
  }
  .header-cont {
    float: none;
    box-sizing: border-box;
    min-width: auto;
    max-width: none;
    text-align: right;
    padding: 10px 0;
  }
  
  .header-cont .row.row-1 {
    width: 100%;
    min-width: inherit;
    display: flex;
    justify-content: flex-end;
  }
  
  .btn-col1 {
    padding: 0;
    width: auto ;
    display: flex;
    justify-content: space-around;
  }
  
  .btn-col2 {
    padding: 0;
    width: auto;
    display: flex;
    justify-content: space-around;
  }
  
  .btncol1 a {
    color: #fff;
    text-decoration: none;
    background: linear-gradient(to right, #3246F0 0%, #4dc4ff 100%);
    box-shadow: 0 3px 6px rgb(65 65 65 / 16%);
    padding: 11px 20px;
    font-size: 15px;
    text-align: center;
    min-width: 190px;
    display: inline-block;
    letter-spacing: 0;
    font-weight: bold;
    box-sizing: border-box !important;
    border-radius: 30px;
    box-sizing: border-box;
    transition: all 0.2s cubic-bezier(0.02, 0.42, 0.24, 0.74);
    line-height: 1;
  }
  
  .btncol2 a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(to right, #3246F0 0%, #4dc4ff 100%);
    box-shadow: 0 3px 6px rgb(65 65 65 / 16%);
    padding: 11px 20px;
    box-sizing: border-box;
    line-height: 1;
    letter-spacing: 0;
    box-sizing: border-box !important;
    font-size: 15px;
    font-style: normal;
    text-align: center;
    display: inline-block;
    min-width: 190px;
    transition: all 0.2s cubic-bezier(0.02, 0.42, 0.24, 0.74);
    border-radius: 30px;
  }
  
  .btncol3 a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(to right, #ff7f1d 0%, #ffd634 100%);
    box-shadow: 0 3px 6px rgb(65 65 65 / 16%);
    padding: 11px 20px;
    letter-spacing: 0;
    font-size: 15px;
    box-sizing: border-box !important;
    text-align: center;
    transition: all 0.2s cubic-bezier(0.02, 0.42, 0.24, 0.74);
    min-width: 190px;
    border-radius: 30px;
    display: inline-block;
    box-sizing: border-box;
    line-height: 1;
  }
  
  .btncol2 {
    margin-left: 20px;
  }
  
  .btncol3 {
    margin-left: 20px;
  }
  
  .custom-menu-primary .hs-menu-wrapper>ul>li>a {
    display: block;
    padding: 20px 10px;
    text-align: center;
    line-height: 1.15;
    letter-spacing: 0;
  }
  
  .btncol1 a::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0e0";
    margin-right: 10px;
    font-weight: normal;
  }
  
  .btncol2 a::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0e0";
    margin-right: 10px;
    font-weight: normal;
  }
  
  .btncol3 a::before {
    font-family: "Font Awesome 5 Free";
    content: "\f15c";
    margin-right: 10px;
    font-weight: normal;
  }
  
  
  .header_outer {
    min-height: 146px;
  }
  
  
  
  @media screen and (min-width: 769px) and (max-width: 1024px){
    .btncol1 a, .btncol2 a,.btncol3 a {
      min-width: 180px;
    }
  }
  
  
  @media screen and (min-width: 769px){
    .top-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .header-logo {
      width: 144px;
      padding: 10px 0;
      min-height: 56px;
      padding-bottom: 11px;
    }
    .header-cont {
      width: calc(100% - 144px);
    }
    .btn-col1 {
      padding-right: 20px;
    }
    .custom-menu-primary .hs-menu-wrapper>ul>li>ul {
      position: absolute;
      display: block;
      left: 0;
      top: 100%;
      box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
      width: 100%;
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
    }
    .custom-menu-primary .hs-menu-wrapper>ul>li>a {
      border-left: none;
      border-right: none;
      font-weight: bold;
      font-size: 14px;
    }
  
    .custom-menu-primary .hs-menu-wrapper>ul>li>ul>li>a {
      display: block;
      line-height: 1.15;
      padding: 20px 10px;
      text-align: center;
    }
  
    .custom-menu-primary .hs-menu-wrapper>ul>li>ul>li>a {
      border-left: none;
      border-right: none;
      font-size: 14px;
      font-weight: 700;
    }
    .custom-menu-primary .hs-menu-wrapper>ul>li:hover>ul {
      pointer-events: auto;
      opacity: 1;
      visibility: visible;
    }
    .custom-menu-primary .hs-menu-wrapper>ul>li::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 0;
      margin: 0 auto;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #3246F0;
      transition: width 0.5s ease-in-out;
    }
  
    .custom-menu-primary .hs-menu-wrapper>ul>li:hover::before {
      width: 100%;
    }
  }
  
  
  
  
  
  
  
  @media screen and (max-width: 769px){
    .header-logo img {
      max-height: 40px;
      width: 102px !important;
    }
  
    .header-logo {
      padding: 0 0 0 10px;
      width: 45%;
      min-height: unset;
    }
  
    .top-header {
      padding: 0;
      margin: 0;
      min-height: 51px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .header-cont {
      width: 55%;
      padding: 0 60px 0 0;
      text-align: center;
    }
  
    .header-cont .row.row-1 {
      min-width: 112px;
      margin: 6px 0 0;
      display: flex;
      justify-content: flex-end;
      table-layout: auto;
    }
  
    .btncol1,.btncol2, .btncol3 {
      display: inline-block;
    }
  
    .btncol1 a, .btncol2 a, .btncol3 a {
      padding: 5px 10px 5px 5px;
      font-size: 0 !important;
      letter-spacing: 0;
      width: auto;
      min-width: auto;
      border: 0;
      margin: 0;
      background: none;
      box-shadow: none;
    }
  
    .btncol1 a:before {
      font-size: 22px;
      margin: 0;
      color: #3246F0;
    }
  
    .btncol2 a:before {
      font-size: 22px;
      margin: 0;
      color: #3246F0;
    }
  
    .btncol3 a:before {
      color: #FF7F1D;
      font-size: 22px;
      margin: 0;
    }
  
    .btncol2, .btncol3 {
      margin: 0;
    }
    a.menu-trigger {
      position: absolute;
      width: 60px;
      right: 0;
      top: 0;
      height: 51px;
      background: #fff;
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
    }
  
    a.menu-trigger span {
      position: absolute;
      left: 15px;
      width: 30px;
      height: 3px;
      background-color: #3246F0;
      border-radius: 3px;
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
    }
  
    a.menu-trigger span:first-child {
      top: 15px;
    }
  
    a.menu-trigger span:nth-child(2) {
      top: 24px;
    }
  
    a.menu-trigger span:nth-child(3) {
      bottom: 15px;
    }
    .custom-menu-primary .hs-menu-wrapper>ul {
      display: block;
      float: none;
      text-align: left;
    }
  
    .custom-menu-primary .hs-menu-wrapper>ul>li {
      box-sizing: border-box;
      width: 100%;
      display: block;
    }
  
    .custom-menu-primary .hs-menu-wrapper>ul>li::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 0;
      margin: 0 auto;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #3246F0;
      transition: width 0.5s ease-in-out;
    }
  
    .custom-menu-primary .hs-menu-wrapper>ul>li>a {
      border-bottom: 1px dashed #1DACF0;
      text-align: left;
      padding: 20px 10px;
      font-weight: bold;
      color: #000;
      border-left: none;
      border-right: none;
      font-size: 14px;
      position: relative;
    }
    .bottom-header {
      display: none;
    }
    body.mob-open .bottom-header {
      display: block;
    }
  
    .custom-menu-primary .hs-menu-wrapper>ul>li:last-child>a {
      border: 0;
    }
  
    .mob-open a.menu-trigger span:first-child {
      -webkit-transform: translateY(10px) rotate(-45deg);
      transform: translateY(10px) rotate(-45deg);
    }
  
    .mob-open a.menu-trigger span:nth-child(2) {
      opacity: 0;
    }
  
    .mob-open a.menu-trigger span:nth-child(3) {
      -webkit-transform: translateY(-8px) rotate(45deg);
      transform: translateY(-8px) rotate(45deg);
    }
  
  
    .custom-menu-primary .hs-menu-wrapper>ul>li>ul {
      display: none;
      background: transparent;
    }
  
    .custom-menu-primary .hs-menu-wrapper>ul>li>ul>li {
      box-sizing: border-box;
      display: block;
      width: 100%;
      font-size: 14px;
      min-width: 100px;
      position: relative;
    }
  
    .custom-menu-primary .hs-menu-wrapper>ul>li>ul>li>a {
      border-bottom: 1px dashed #1dacf0;
      border-left: none;
      border-right: none;
      color: #000;
      font-size: 14px;
      font-weight: 700;
      padding: 20px 20px;
      position: relative;
      text-align: left;
      display: block;
      line-height: 1.15;
    }
    .child-trigger {
      display: block;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      width: 55px;
      min-width: 55px;
      height: 57px;
      padding: 0;
    }
    .child-trigger:hover{
      text-decoration: none;
    }
    .child-trigger i{
      position: relative;
      top: 50%;
      margin: 0 auto !important;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .child-trigger i:after{
      position: absolute;
      content: '';
    }
    .child-trigger i, .child-trigger i:after{
      width: 10px; /* Icon line width */
      height: 1px; /* Icon line height */
      background-color: #000; /* Icon color */
      display: block;
    }
    .child-trigger i:after{
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
    .child-trigger.child-open i{}
    .child-trigger.child-open i:after{
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
    .header_outer {
      min-height: 51px;
    }
  }
  
/* _footer.css */
footer.footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  
  .footer_container.content-wrapper {
    padding: 0 24px;
  }
  
  .footer-left {
    margin-bottom: 32px;
  }
  
  .footer-right {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    line-height: 22px;
  }
  
  .footer-social ul li a:hover {
    opacity: .5;
  }
  
  .copyright {
    display: none;
  }
  
  .copy-wrap {
    margin-bottom: 16px;
    display: flex;
    font-size: 12px;
    line-height: 24px;
  }
  
  .footer-social ul {
    display: flex;
    margin-bottom: 32px;
    padding:0;
  }
  
  .footer-social ul li {
    margin-right: 16px;
    list-style: none;
  }
  
  .footer-logo {
    margin-bottom: 24px;
  }
  
  .address-wrap {
    display: flex;
    justify-content: space-between;
  }
  
  .address-wrap .hs_cos_wrapper_type_rich_text>div {
    font-size: 12px;
    line-height: 22px;
    width: 50%;
  }
  
  .custom-footer-menu ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  .custom-footer-menu ul>li.hs-menu-depth-1 {
    margin-bottom: 40px;
    width: 50%;
    padding-right: 10px;
  }
  
  
  .custom-footer-menu ul>li.hs-menu-depth-1>a {
    margin-bottom: 16px;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    display: inline-block;
  }
  
  .custom-footer-menu ul ul>li {
    margin-bottom: 16px;
  }
  
  .custom-footer-menu ul>li.hs-menu-depth-1:last-child ul li {
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 22px;
    margin-bottom: 24px;
    font-size: 14px;
  }
  
  .custom-footer-menu.clearfix {
    width: 100%;
  }
  
  .custom-footer-menu ul>li.hs-menu-depth-1:last-child ul li:last-child {
    margin-bottom: 16px;
  }
  
  .custom-footer-menu ul>li.hs-menu-depth-1:last-child>a {
    margin-bottom: 24px;
  }
  
  .address-wrap>div {
    width: 100%;
  }
  
  .address-wrap .hs_cos_wrapper_type_rich_text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .custom-footer-menu ul>li.hs-menu-depth-1>ul {
    display: block;
  }
  
  .footer-logo a:hover {
      opacity: .5;
  }
  
  
  
  
  
  
  
  @media screen and (min-width: 1025px){
    .footer_content {
      display: flex;
      justify-content: space-between;
    }
    .footer-bottom {
      display: flex;
      justify-content: space-between;
    }
    .custom-footer-privacy {
      display: none;
    }
    .copyright {
      display: block;
    }
    .copy-wrap li {
      margin-right: 32px;
      width: auto;
    }
    .footer-social ul {
      margin-bottom: 0;
    }
    .footer-social ul li {
      margin-right: 12px;
    }
    .footer-logo {
      margin-bottom: 32px;
    }
  
    .address-wrap {
      display: block;
    }
    .address-wrap .hs_cos_wrapper_type_rich_text>div {
      font-size: 14px;
      width: auto;
    }
  
    .address-wrap .hs_cos_wrapper_type_rich_text>div:first-child {
      margin-bottom: 32px;
    }
    .custom-footer-menu ul>li.hs-menu-depth-1 {
      padding-right: 56px;
      margin-bottom: 0;
      width: auto;
    }
    .custom-footer-menu ul>li.hs-menu-depth-1>a {
      margin-bottom: 24px;
    }
    .custom-footer-menu ul ul>li {
      margin-bottom: 24px;
    }
    .custom-footer-menu ul>li.hs-menu-depth-1:last-child {
      padding-right: 0;
    }
    .address-wrap .hs_cos_wrapper_type_rich_text{
      display: block;
    }
  }
  
  
  
  @media screen and (max-width: 1024px){
    .copy-wrap {
      display: block;
    }
  
    .copy-wrap .hs-menu-wrapper ul {
      flex-direction: unset !important;
      margin-bottom: 16px;
      font-size: 12px;
      line-height: 24px;
    }
  
    .copy-wrap .hs-menu-wrapper ul>li {
      width: 50%;
    }
  
    .hs_cos_wrapper_type_text {
      display: inline-block;
      line-height: 24px;
      font-size: 12px;
    }
  
    .copy-wrap {
      font-size: unset;
      line-height: 1.5;
      margin: 0;
    }
    .copyright {
      display: block;
    }
    footer.footer .hs-menu-wrapper ul {
      flex-direction: unset !important;
    }
    .copy-wrap .widget-type-text {
      font-size: 16px;
    }
  }
  
  
/* _default-modules.css */
.hs-menu-wrapper ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  /* Horizontal menu */
  
  .hs-menu-wrapper.hs-menu-flow-horizontal .hs-menu-children-wrapper {
    flex-direction: column;
  }
  
  @media (max-width: 767px) {
    .hs-menu-wrapper.hs-menu-flow-horizontal ul {
      flex-direction: column;
    }
  }
  
  /* Vertical menu */
  
  .hs-menu-wrapper.hs-menu-flow-vertical ul {
    flex-direction: column;
  }
  
  /* Flyouts */
  
  .hs-menu-wrapper.hs-menu-flow-vertical.flyouts ul {
    display: inline-flex;
  }
  
  @media (max-width: 767px) {
    .hs-menu-wrapper.hs-menu-flow-vertical ul {
      display: flex;
    }
  }
  
  .hs-menu-wrapper.flyouts .hs-item-has-children {
    position: relative;
  }
  
  .hs-menu-wrapper.flyouts .hs-menu-children-wrapper {
    left: -9999px;
    opacity: 0;
    position: absolute;
  }
  
  .hs-menu-wrapper.flyouts .hs-menu-children-wrapper a {
    display: block;
    white-space: nowrap;
  }
  
  .hs-menu-wrapper.hs-menu-flow-horizontal.flyouts .hs-item-has-children:hover > .hs-menu-children-wrapper {
    left: 0;
    opacity: 1;
    top: 100%;
  }
  
  .hs-menu-wrapper.hs-menu-flow-vertical.flyouts .hs-item-has-children:hover > .hs-menu-children-wrapper {
    left: 100%;
    opacity: 1;
    top: 0;
  }
  
  @media (max-width: 767px) {
    .hs-menu-wrapper.flyouts .hs-menu-children-wrapper,
    .hs-menu-wrapper.hs-menu-flow-horizontal.flyouts .hs-item-has-children:hover > .hs-menu-children-wrapper,
    .hs-menu-wrapper.hs-menu-flow-vertical.flyouts .hs-item-has-children:hover > .hs-menu-children-wrapper {
      left: 0;
      opacity: 1;
      position: relative;
      top: auto;
    }
  }
  
/* HubSpotのtheme-overrides.min.cssの中身 */
.content-wrapper{max-width:1136px}.content-wrapper--vertical-spacing,.dnd-section{padding:50px 24px}.dnd-section>.row-fluid,.footer_container,.header_container,.page-center{max-width:1136px}body{color:#333;font-family:Noto Sans JP,Helvetica,Open Sans,Arial,sans-serif;font-size:16px;font-weight:400}a,a:active,a:focus,a:hover{color:#474747}h1{font-size:38px}h1,h2{color:#333;font-family:Noto Sans JP;font-weight:700}h2{font-size:30px}h3{font-size:28px}h3,h4{color:#333;font-family:Noto Sans JP;font-weight:700}h4{font-size:23px}h5{font-size:22px}h5,h6{color:#333;font-family:Noto Sans JP;font-weight:700}h6{font-size:18px}blockquote{border-left-color:#333}.form-title,h3.form-title{background-color:hsla(0,0%,100%,0);color:#333}form label,form legend{color:#333}form input[type=email],form input[type=file],form input[type=number],form input[type=password],form input[type=tel],form input[type=text],form select,form textarea{border-color:#cbd6e2;color:#333}form input[type=email]:focus,form input[type=file]:focus,form input[type=number]:focus,form input[type=password]:focus,form input[type=tel]:focus,form input[type=text]:focus,form select:focus,form textarea:focus{border-color:rgba(82,168,236,.8)}.fn-date-picker td.is-selected .pika-button{background:#333}.fn-date-picker td .pika-button:hover{background-color:#333!important}.fn-date-picker td.is-today .pika-button{color:#333}form .hs-button,form input[type=submit]{background-color:#333;border:1px solid #333;border-radius:3px;color:#fff;padding:12px 24px}form .hs-button:hover,form input[type=submit]:hover{background-color:#333;border-color:#333;color:#fff}.button,button{background-color:#333;border:1px solid #333;border-radius:3px;color:#fff;padding:12px 24px}.button:hover,button:hover{background-color:#333;border-color:#333;color:#fff}table{background-color:#fff}table,td,th{border-color:#333}td,th{color:#333}thead td,thead th{background-color:#333;border-bottom-color:#333;color:#fff}tfoot td{background-color:#fff;color:#333}header.header{background-color:rgba(0,0,0,.8)}.custom-menu-primary .hs-menu-wrapper>ul>li>a{color:#fff}.custom-menu-primary .hs-menu-wrapper>ul>li>a:hover{background-color:hsla(0,0%,100%,0);color:hsla(0,0%,100%,.5)}.custom-menu-primary .hs-menu-wrapper>ul>li.active-branch>a,.custom-menu-primary .hs-menu-wrapper>ul>li.active>a{background-color:hsla(0,0%,100%,0);color:#fff}.custom-menu-primary .hs-menu-wrapper>ul ul{background-color:#fff}.custom-menu-primary .hs-menu-wrapper>ul ul li a{color:#333}.custom-menu-primary .hs-menu-wrapper>ul ul li a:hover,.custom-menu-primary .hs-menu-wrapper>ul ul li.active-branch>a,.custom-menu-primary .hs-menu-wrapper>ul ul li.active>a{background-color:hsla(0,0%,100%,0);color:#333}.header-btn a,.header-btn a:hover{background-color:transparent;border-color:#fff;color:#fff}.header-inner{margin:0 auto;max-width:100%}footer.footer{background-color:#fff;color:#333}.custom-footer-menu ul>li.hs-menu-depth-1:last-child ul li a,footer.footer a{color:#333}.custom-footer-menu ul>li.hs-menu-depth-1:last-child ul li a:hover,footer.footer a:hover{color:rgba(51,51,51,.5)}.custom-footer-menu ul>li.hs-menu-depth-1 ul>li>a{color:#666}.custom-footer-menu ul>li.hs-menu-depth-1 ul>li>a:hover{color:rgba(51,51,51,.5)}.card__price{color:#333;font-family:Noto Sans JP;font-size:28px;font-weight:700}

/* service index.html用のヘッダ調整 */
.header-title a {
	margin-top: 11px;
}
