.wrap-download-form {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 640px;
}

.whitepaper-section {
  margin-bottom: 32px;
}

.first-view-image {
  position: relative;
  background-image: url('../images/download/download-sp.jpg');
	/* 100svhからヘッダーとファーストビューコンテンツの高さを引く */
  height: calc(100vh - 48px - 192px);
  height: calc(100svh - 48px - 192px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrap-service-feature {
  display: flex;
  position: absolute;
  padding: 28px 23px 16px 24px;
  bottom: 0;
  height: auto;
  width: 100%;
  color: #fff;
  background-color:  rgba(51, 51, 51, .72);
  text-align: center;
  gap: 20px;
}

.service-feature {
  width: 33.3%;
}

.service-feature img {
  width: 40px;
  height: 40px;
  margin-bottom: 12px;
}

.wrap-first-view {
  padding: 56px 24px;
  text-align: center;
}

.first-view-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: bold;
}

.wrap-recommended-list {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 22px;
  color: #000;
  padding: 16px;
  background-color: #f8f8f8;
}

.recommended {
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 21px;
  font-weight: bold;
}

.recommended-item {
  list-style: disc;
  list-style-position: inside;
  font-size: 14px;
  line-height: 22px;
  color: #000;
  margin-left: 1.4em;
  text-indent: -1.4em;
}

.form-description {
  margin-bottom: 24px;
  font-size: 13px;
  font-weight: bold;
  line-height: 21px;
  color: #000;
}

/* タブレットサイズ以上 */
@media screen and (min-width: 600px) {
  .first-view-image {
    height: 512px;
    background-image: url('../images/download/download-pc.jpg');
  }

  .wrap-service-feature {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

/* PCサイズ以上 */
@media screen and (min-width: 1025px) {
  .wrap-download-form {
    padding: 0;
    margin: 0 auto;
  }

  .wrap-first-view {
    padding: 96px 24px;
  }

  .first-view-title {
    font-size: 40px;
  }

  .wrap-service-feature {
    gap: 96px;
    justify-content: center;
    align-items: center;
  }

  .service-feature {
    width: auto;
  }

  .service-feature img {
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
  }

  .recommended {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .wrap-recommended-list {
    padding: 24px;
  }

  .recommended-list {
    margin-left: 16px;
  }

  .recommended-item {
    font-size: 16px;
    line-height: 26px;
  }

  .form-description {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 22px;
  }
}